{% extends "base.html" %}
<!--  -->
{% block title %}Login{% endblock %}
<!--  -->
{% block content %}
<div style="max-width: 400px; margin: auto; padding-top: 50px">
    <h2>Iniciar Sesión</h2>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div style="margin-bottom: 15px">
            <label>Usuario:</label><br />
            <input
                type="text"
                name="username"
                style="width: 100%; padding: 8px"
                required
            />
        </div>
        <div style="margin-bottom: 15px">
            <label>Contraseña:</label><br />
            <input
                type="password"
                name="password"
                style="width: 100%; padding: 8px"
                required
            />
        </div>
        <button type="submit" class="btn">Ingresar</button>
    </form>
</div>
{% endblock %}
